*{
    font: 400 14px/20px,Arial,sans-serif;
    
     letter-spacing: .3px;
  }
  .header{
      
      /* background-color: black; */
      width: 100%;
      margin: -7px -5px -5px -5px;
     
      
      
  }
  .header #top{
      height: 50px;
      width: 100%;
      background-color: green;
      
  
      
  }
  .header #top p{
      margin-top: -10px ;
      color: black;
      font-size: 15px;
      margin-left: 35%;
  }
  .header #topNavigation{
      height: 45px;
      width: 100%;
      background-color: silver;
      margin-top: -20px;
      

  }
 

.header #topNavigation ul{

height: 43px;
margin: 0;
padding: 0;
background-color: white;

}

.nav li {
float: left;
list-style-type: none;



}

.nav li a{
border-right: 0.5px solid #bbb;
display: block;
color: black;
text-align: center;
font-weight: bolder;
padding: 12px 16px;
text-decoration: none;
}
#currencySelect{
list-style-type: none;


margin-right: 20px;
margin-top: -30px;
width: -20px;
text-decoration: none;



}
select{

width: 65px;
}



.nav li a:hover {
font-weight:900;
background-color: #111;
color:purple;
} 
.logotab{
/* margin-top: 100px; */
height: 60px;
background-color: rgb(20, 20, 20);


}
/* logo customisation */
.logotab .logo{
height: 65px;
width: 150px;
float: left;
margin-left: 3%;
}
.content{
margin-top:  20px;
}
#searchbar{
margin-left: 450px;
margin-top: 14px;
width: 350px;
height: 50%;
border-radius:25px;
font-size: 15px;

}
 /* icons are here to customise */
 .topicons{

   margin-left:1150px;
   margin-top: -40px;
   color: grey;
   
   
   
   }
   .topicons i,a{
   
   margin-left: 20px;
   color: grey;
   
   
   
   } 
   .topicons i:hover{
     color: aliceblue;
   }  
            /* navigation bar */
.navbar {
overflow: hidden;
float: left;
margin-left: 40px;


}

/* Links inside the navbar */
.navbar a {

margin-left: 20px;
font-size: 18px;
color:  black;
text-align: center;
padding: 16px 18px;
text-decoration: underline;
}

/* The dropdown container */
.dropdown {

background-color: white;
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: black;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; 
margin: 0; 
}


.navbar a:hover, .dropdown:hover .dropbtn {
text-decoration: underline;
}



.dropdown-content {
display: none;
position: absolute;
background-color: wheat;
height: 500px;
width: 100%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}


.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown:hover .dropdown-content {
display: block;
}
div .line{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  margin-left: 50px;
  list-style: none;
 
  text-align: center;
}
ul{
  list-style: none;
}
.banner{
      height: 80px;
      width: 100%;
      background-color: green;
      margin-top: 60px;
      
  
      
  }
  .banner h1{
      margin-top: 15px;
  
      color: black;
      font-size: 40px;
  }
  /*
  .newarrival img:hover{
    display: none;
  }*/
  .shopMore{
   
    margin-top: 35px;
    display: grid;
     grid-template-columns: 25% 25% 25% 25%;
     grid-template-rows: 530px;
     grid-gap: 10px;
 
   
    
   
  }
  .shopMore img:hover{
    filter: blur(3px);
 -webkit-filter: blur(3px);
  }

                           /* footer customisation */
  .footer{
      background-color: black;
      height: 300px;
      color: white;
      width: 100%;
  }
  .left{
      float: left;
  }
  .middle{
      float: left;
      margin-left: 20px;
      margin-top: 10px;
      width: 40%;
      padding: 30px;
      text-align: center;
  }
  table{
      width: 100%;
      font-size: larger;
      color: gray;
      margin-top: 0px;
  }
   table .head{
       color:white;

   }
   .right{
       
       
       color: white;
       margin-top: 40px;
      
   }
   .socialmedia a{
       color: gray;
       margin-left: 44px;
       text-decoration: none;
       height: 30px;

   }
   .right input{
       width: 24%;
       margin-left: 50px;
       height: 44px;
       
   }
   #trendingProducts{
    /*margin-top: 5%;
    margin-left: 50px;
    display: grid;
     grid-template-columns: 23% 23% 23% 23%;
     grid-template-rows: 430px 430px;
     grid-gap: 40px;
     
     height: 1100px;
 */
 margin-top: 35px;
    margin-left: 50px;
    display: grid;
     grid-template-columns: 20% 20% 20% 20%;
     grid-template-rows: 600px;
     grid-gap: 4%;
    padding: 4%;

}


#trendingProducts div{

  height: 100%;
  padding-top: 5%;
  
}
#trendingProducts div img{
width: 100%;
height: auto;

}
#trendingProducts div button{
  width: 100%;
  background-color: black;
  color: white;
  height: 40px;
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 10px
}
#favoriteProducts{
    margin-top: 35px;
    margin-left: 50px;
    display: grid;
     grid-template-columns: 20% 20% 20% 20%;
     grid-template-rows: 600px;
     grid-gap: 4%;
    padding: 4%;

     /*
     margin-bottom: 50px;
    height: 700px;
 */
    
}
#favoriteProducts div{
 ;
  padding-top: 5%;
  height: 100%;
  
}
#favoriteProducts div img{
width: 100%;
height: auto;

}
#favoriteProducts div button{
  width: 100%;
 background-color: #111;
  color: white;
  height: 40px;
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 10px
}

/* MEDIA QUERRY HERE */


@media only screen and (min-width: 990px) {
  #img1 {
    src: 'https://cdn.shopify.com/s/files/1/0293/9277/files/10.01.21_mens_desktop_promo_3c226428-b212-4567-b935-f0ea69bd5672_900x.jpg?v=1633122730';
  }
}

@media only screen and (min-width: 1140px) {
  #img1 {
    background-image: url('https://cdn.shopify.com/s/files/1/0293/9277/files/10.01.21_mens_desktop_promo_3c226428-b212-4567-b935-f0ea69bd5672_1400x.jpg?v=1633122730');
  }
}



/* javascript functions css */
.active {background:rgba(192, 192, 192, 0.993)}
.sticky {position: fixed;top: 0;width: 100%}