#nav{
    width: 100%;
    height: 60px;
    background-color: black;
    box-sizing: border-box;
    padding-top: 7px;
    display: flex;
}
.logo{
    width: 280px;
}
.container{
    display: flex;
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 50px;
}
.leftBox{
    
    width: 500px;
}
.leftBox > img{
    width: 80%;
    margin-left: 50px;
}
h1{
    color: #000;
    font-family: proxima-nova,Arial,sans-serif;
    letter-spacing: .3px;
    font-size: 20px;
}
.lightBlue{
    background-color: #e9f1fd;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 3px;
}
.checkboxDiv{
         color: #53585f;
  font: 400 14px/20px proxima-nova,Arial,sans-serif;
     letter-spacing: .3px;
    display: flex;

    flex-direction: row;
}

button{
background-color: black;
width: 200px;
height: 45px;
margin-left: 300px;
/* margin: auto; */
text-align: center;
color:white;
margin-top: 20px;
}
.input{
width: 500px;
margin-top: 10px;
margin-bottom: 20px;            
border: 1px solid #949494;            
height: 45px;
padding-left: 20px;
width: 100%;
box-sizing: border-box;
}