
.likeNav{
    background-color: black;
    height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 1px;
    display: flex;
    margin-bottom: 2px
    /* box-sizing: border-box; */
}
.likeNav > div{
    width: 5%;
    /* border: 1px solid white; */
    align-items: center;
    padding-top: 10px;
}
#sliding{
    width: 100%;
    /* border: 1px solid white; */
    padding-top: 0px;
}
h1{
    color: #000;
    font: 600 28px/28px proxima-nova,Arial,sans-serif;
    letter-spacing: .3px;
    /* text-transform: uppercase; */
    /* margin: 19px 0 0; */
    margin-left: 150px;
    /* height: 73px; */
    /* font-weight: bold; */
    font-size: 2em;
}
.homeAccount{
    /* border: 1px solid black; */
    width: 96%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.homeAccount div:nth-child(1),.homeAccount div:nth-child(3){
    padding-top: 3px;
}
.shoppingBag{
    display: flex;
    flex-direction: row; 
    width: 96%;
    margin: auto;           
}
.shoppingBag > div:nth-child(1){
    width: 30%;
    box-sizing: border-box;
    padding-top: 25px;
}
.shoppingBag > div:nth-child(2){
    width: 70%;
}
a{
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.freeShipping{
    background-color: #fff7e2;
    text-align: center;
    width: 96%;
    height: 100px;
    margin: auto;
    color: #bd6d6b;
    padding-top: 20px;
}
.freeShipping  a{
    
    color: #bd6d6b;
}
.underdiv{
    width: 640px;
    margin: auto;
    border-radius: 50px;
    height: 8px;
    background-color: #f1d7bb;
    margin-bottom: 10px;
}
.bagContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 85%;
    margin: auto;
}
button{
    background-color: black;
    width: 270px;
    height: 40px;
    margin: auto;
    text-align: center;
    color:white;
    margin-top: 20px;
}
.aboveLabel{
    width: 85%;
    margin: auto;
    /* text-align: left; */
}

.products{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
}
.products > .prod{
    width: 360px;
    margin-right: 24px;
}
.products  img{
    width: 360px;

}
.details{
    height: 100px;
    width: 100%;
}
.details > .redP{
    font: 700 10px/12px proxima-nova-condensed,Arial,sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
    color: rgb(227, 44, 43);
    font-weight: bold;
}
.prod button{
    width: 100%;
}
.details > .blackP{
    color: #53585f;
    font: 400 14px/20px proxima-nova,Arial,sans-serif;
    letter-spacing: .3px;
    margin: 0;
    height: 40px;
}
.details  span{
    text-decoration: none;
    white-space: nowrap;
    font: 600 10px/12px proxima-nova,Arial,sans-serif;
    letter-spacing: .3px;
    margin-right: 8px;
    color: black;
}
.details  .doller{
    text-decoration: none;
    white-space: nowrap;
    font: 600 10px/12px proxima-nova,Arial,sans-serif;
    letter-spacing: .3px;
    margin-right: 8px;
    color: red;
    
}
